BOT_TOKEN= 8949984502:AAHusXsa6M-fZ3J-fIKQD1U4-Rnu0GgmSKo
CHANNEL_ID=@your_channel_username
TIMEZONE=Asia/Aden
REPORT_HOUR=0
REPORT_MINUTE=0
CHECK_INTERVAL_SECONDS=300
DATABASE_PATH=mashhad_monitor.db

